@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
    background-position: center; 
    width: 100%;
    height: 100%; 
    position:fixed;
    background-color: rgb(205, 190, 190);
}

.material-name {
  opacity: 0;
}

.material-name:hover {
  opacity: 1;
}

.back-btn {
    max-width: 6rem;
    margin: 1rem;
    margin-right: 2rem;
}

.btn-material:hover p {
  opacity: 1;
}

.back-btn:hover {
    background-color: #969696;
    border-radius: 10px;
}

.point-btn {
    position: fixed;
    max-width: 2.3%;
    position: absolute;
}

.point-btn:hover {
    opacity: 50%;
}

.material-img {
    position: fixed;
    left: 17.7%;
    z-index:-1;
    height: 100%;
}

.loader {
    color: rgb(106, 106, 106);
    margin-right: 5rem;
    margin-top: 5rem;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: loader 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes loader {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

  @media (max-width: 1779px) {
    
    .material-img {
      max-width: 100vw;
      max-height: 58vw;
    }

    .responsive img {
      width: 90px;
      height: 90px;
      border: 5px solid white;
    }
  }

  @media (max-width: 1579px) {
    .responsive {
      margin-right: 0px;
    }
    .responsive img {
      width: 60px;
      height: 60px;;
    }
  }

  @media (max-width: 1579px) {
    .responsive img {
      display: flex;
    }
  }

  @media (max-width: 879px) {
    .responsive {
      margin-top: 90px;
    }
    .responsive p {
      font-size: 15px
    }
    .back-btn {
      max-width: 5rem;
      margin: 0rem;
      margin-right: 0rem;
    }
  }